# Week 3 Assignment

In [1]:
import pandas as pd
import numpy as np

In [13]:
Energy = pd.read_excel('Energy Indicators.xls', header=17, skipfooter=38, na_values='...',
                       dtype={'Petajoules': np.float64, 'Gigajoules	': np.float64,'%': np.float64,})
Energy.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Petajoules,Gigajoules,%
0,NaN,Afghanistan,Afghanistan,321.0,10.0,78.669280
1,NaN,Albania,Albania,102.0,35.0,100.000000
2,NaN,Algeria,Algeria,1959.0,51.0,0.551010
3,NaN,American Samoa,American Samoa,NaN,NaN,0.641026
4,NaN,Andorra,Andorra,9.0,121.0,88.695650

In [14]:
Energy.drop(['Unnamed: 0','Unnamed: 1'], axis=1, inplace=True)
Energy.rename(columns={'Unnamed: 2':'Country', 'Petajoules':'Energy Supply',
                       'Gigajoules':'Energy Supply per Capita','%':'% Renewable'}, inplace=True)

In [15]:
Energy.head()

          Country  Energy Supply  Energy Supply per Capita  % Renewable
0     Afghanistan          321.0                      10.0    78.669280
1         Albania          102.0                      35.0   100.000000
2         Algeria         1959.0                      51.0     0.551010
3  American Samoa            NaN                       NaN     0.641026
4         Andorra            9.0                     121.0    88.695650

In [16]:
Energy.shape

(227, 4)

In [17]:
Energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   227 non-null    object
 1   Energy Supply             222 non-null    float64
 2   Energy Supply per Capita  222 non-null    float64
 3   % Renewable               227 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.2+ KB

In [18]:
Energy.isnull().sum()

Country                     0
Energy Supply               5
Energy Supply per Capita    5
% Renewable                 0
dtype: int64

In [21]:
Energy['Energy Supply'] = Energy['Energy Supply'] * 1000000
Energy.head()

          Country  Energy Supply  Energy Supply per Capita  % Renewable
0     Afghanistan   3.210000e+08                      10.0    78.669280
1         Albania   1.020000e+08                      35.0   100.000000
2         Algeria   1.959000e+09                      51.0     0.551010
3  American Samoa            NaN                       NaN     0.641026
4         Andorra   9.000000e+06                     121.0    88.695650

In [45]:
Energy[Energy['Country'] == "Republic of Korea"]['Country'].values[0]  = "South Korea"

In [41]:
Energy[Energy['Country'] == "South Korea"]

Empty DataFrame
Columns: [Country, Energy Supply, Energy Supply per Capita, % Renewable]
Index: []